
$primary-color: whitesmoke;
$secondary-color: #1d2227;
$tertiary-color: #536a8e;
$font-main: 14px;
$tn-width: 7vw;
$tn-height: 7vh;
$btn-width: 27vw;
$btn-height: 40px;
$primary-border: 2px solid $primary-color;
$mobile-height: 1600px;
$breakpoint-l-mobile: 425px;
$breakpoint-s-tablet: 550px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-l-laptop: 1440px;
$about-tn-height: 50px;
$about-tn-width: 50px;
$about-lapt-height: 90px;
$about-lapt-width: 90px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fjalla One';
  color: $primary-color;
  text-decoration: none;
}

body {
  display: flex;
}

nav {
  background-color: $secondary-color;
  font-size: $font-main;
  height: $mobile-height;
  width: 60px;
    
  #burger {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 40px;
    height: 5px;
    background-color: $primary-color;
    margin: 6px 0;
    transition: 0.6s;
  }   

  .change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }        

  .change .bar2 {
    opacity: 0;
  }  

  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .menu {
    display: none;
  }  

  .social {
    display: none;  
  }

  #logo {
    display: none;
  }
}

.redline {
  min-width: 1vw;
  height: $mobile-height;
  background-color: rgb(199, 39, 39);
}

a:hover {
  color: rgb(199, 39, 39);
}

i:hover {
  color: rgb(199, 39, 39);
}

.open {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 5px;
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;

  li {
    list-style: none;
    margin: 20px;
  }

  i {
    margin: auto 15px;
  }
  
  #logo {
    width: 60px;
    height: 60px;
    background-color: transparent;
    margin-top: 20px;
  }

  .redline {
    display: none;
  }

  .menu {
    display: unset;
    display: flex;
    flex-direction: column;
  }  

  .social {
    display: unset;  
  }

  #logo {
    display: unset;
  }

  article i {
    pointer-events: none;
  }
}

main {
  background-image: url('./Images/web-build1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  background-color: $tertiary-color;
  height: $mobile-height;
  width: 100vw;
  overflow-x: hidden;
  
  section {
    display: grid;
    grid-template-rows: 5fr 4fr 1fr;
    gap: 20px;
    margin: 20px;
    margin-top: 50px;
    margin-left: 10px;
    grid-template-areas: 
      "phil phil"
      "frontend frontend"
      "btn-outline btn-primary";
       
    h1 {
      grid-area: phil;
      font-size: 60px;
    }  

    h2 {
      grid-area: frontend;
      font-size: 30px;
    }  

    .btn-outline {
      grid-area: btn-outline;
      border: $primary-border;
      padding: 10px;
      font-size: $font-main;
      width: $btn-width;
      height: $btn-height;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }  

    .btn-primary {
      grid-area: btn-primary;
      border: $primary-border;
      background-color: $primary-color;
      color: #536a8e;
      padding: 10px;
      font-size: $font-main;
      width: $btn-width;
      height: $btn-height;
      text-align: center;

      &:hover {
        color:rgb(199, 39, 39);
      }
    }
  }
}   

.about {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 3fr 3fr;
  grid-template-columns: 1fr 3fr;
  margin-top: 50px;
  margin-left: 10px;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-areas: 
    "phil phil"
    "frontend frontend"
    "skills skillsp"
    "domain domainp"
    "experience experiencep"
    "education educationp "
    "client clientp"
    "background background"
    "backgroundp backgroundp" ;   
}
  h3 {
    border: $primary-border;
    font-size: 15px;
    padding-top: 22px;
    text-align: center;
  }

    .skills {
      grid-area: skills;
    }

    .domain {
      grid-area: domain;
    }

    .experience {
      grid-area: experience;
    }

    .education {
      grid-area: education;
    }

    .background {
      grid-area: background;
    }
  
    .client {
      grid-area: client;
      padding-top: 90px;
    }

    .skillsp {
      grid-area: skillsp;
      padding-top:20px;
    }

    .domainp {
      grid-area: domainp;
      padding-top:15px;
    }

    .experiencep {
      grid-area: experiencep;
    }

    .educationp {
      grid-area: educationp;
      padding-top:5px;
    }

    .backgroundp{
      grid-area: backgroundp;
    }

    .clientp{
      grid-area: clientp;
    }

  p i {
    font-size: 30px;
    pointer-events: none;
  }

span {
  display: flex;
  align-items: center;
}

span img {
  margin: 1px;
}

#bgc {
  height: $about-tn-height;
  width: $about-tn-width;
  border-radius: 3px;
}

#fd {
  height: $about-tn-height;
  width: $about-tn-width;
  border-radius: 3px;
}

#pwc {
  height: $about-tn-height;
  width: $about-tn-width;
  border-radius: 3px;
}

#kip {
  height: $about-tn-height;
  width: $about-tn-width;
  border-radius: 3px;
}

#profile {
  width: 200px;
  height: 200px;
  border-radius: 3px;
}

span img{
  margin:3px;
}

.portfolio {
  display: grid;
  grid-template-rows: 3fr 2fr 3fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px;
  margin-top: 50px;
  margin-left: 10px;
 
  grid-template-areas: 
    "phil phil "
    "frontend frontend "
    "project1 project2"
    "project3 project4"
    "project5 project6";

  article {
    border: $primary-border;
    height: 20vh;
    width: 35vw;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;  
    flex-direction: row;
  
    .project1 {
      grid-area: project1;
    }

    .project2 {
      grid-area: project2;
    }

    .project3 {
      grid-area: project3;
    }

    .project4 {
      grid-area: project4;
    }

    .project5 {
      grid-area: project5;
    }

    .project6 {
      grid-area: project6;
    }

    i {
      display: none;
      font-size: 25px;
      padding: 10px;
    }
  }
}

.info {
display:none;
}

article:hover i {
  display: initial;
}

article:hover {
  background-image: url('./Images/portfolio-black.png');
  background-size: cover;
  background-position: center ;

  .info {
    display: unset;
    font-size: 10px;
  }
}

.project1 {
  background-image: url('./Images/Intergr8.png');
  background-size: cover;
  background-position: center ;
}

.project2 {
  background-image: url('./Images/tyres.png');
  background-size: cover;
  background-position: center ;
}

.project3 {
  background-image: url('./Images/Punk\ IPA.png');
  background-size: cover;
  background-position: center ;
}

.project4 {
  background-image: url('./Images/project1pic.png');
  background-size: cover;
  background-position: center ;
}
.project5 {
  background-image: url('./Images/morse.png');
  background-size: cover;
  background-position: center ;
}

.project6 {
  background-image: url('./Images/spaceships.png');
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: $breakpoint-l-mobile) {
  main section .btn-primary {
    font-size: 17px;
    padding: 7px;
  }

  main section .btn-outline {
    font-size: 17px;
    padding: 7px;
  }

  .about {
    h3 {
      font-size: 22px;
      padding-top: 17px;
    }

    .domainp{
      padding-top: 5px;
    }

    .client{
      padding-top: 70px;;
    }

    .clientp{
      padding-top: 10px;
    }
  }

  .portfolio article i {
    font-size: 30px;
  }

  article:hover .info {
    font-size: 14px;
    }

  span img {
    margin: 3px;
  }
}
@media only screen and (min-width: $breakpoint-s-tablet) {
  main section .btn-primary {
    font-size: 20px;
    padding: 7px;
  }

  main section .btn-outline {
    font-size: 20px;
    padding: 7px;
  }

  .portfolio article {
    height: 180px;
    padding-top: 30px;
    justify-content: center;

    i {
      font-size: 40px;
    }
    
  }

  article:hover .info {
    font-size: 20px;
    }

  .about {
   
    h3 {
      font-size: 24px;
    }

    .domainp{
      padding-top: 10px;
    }

    .client{
      padding-top: 70px;
    }

    .clientp{
      padding-top: 10px;
    }

    p {
      font-size: 19px;
    }
  }
}
@media only screen and (min-width: $breakpoint-tablet) {
 nav #burger{
  padding: 8px;
 }

  main section h1 {
    font-size: 52px;
  }

  main section h2 {
    font-size: 45px;
    margin-bottom: 10px;
  }

  main section .btn-primary {
    font-size: 26px;
    padding: 3px;
  }

  main section .btn-outline {
    font-size: 26px;
    padding: 3px;
  }

  .portfolio {
    gap: 25px;

    article {
      height: 32vh;
      padding-top: 50px;

      i{ 
        font-size: 40px;
      }
    }
  }
  article:hover .info {
    font-size: 23px;
    }

  .about {

    h3 {
      font-size: 25px;
    }

    .skillsp {
      padding-top: 5px;
    }

    .client{
      padding-top: 85px;
    }

    .clientp{
      padding-top: 14px;
    }

    .background{
      padding-top: 10px;
    }

    .backgroundp{
      padding-top: 15px;
    }
  
    p {
      font-size: 22px;
    }

    p i {
      font-size: 60px;
    }
  }
 
}
@media only screen and (min-width: $breakpoint-laptop) {
  // main, .redline, nav{
  //   height: 1800px;
  // } 
   main section h1 {
    font-size: 75px;
  }
  
  main section h2 {
    font-size: 45px;
  }

  main section .btn-primary {
    font-size: 29px;
    padding: 5px;
    height: 50px;
  }

  main section .btn-outline {
    font-size: 29px;
    padding: 5px;
    height: 50px;
  }

   .about {
    height:100%;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 150px 150px 1fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: 
      "phil phil background"
      "frontend frontend background"
      "skills skillsp backgroundp "
      "domain domainp backgroundp"
      "experience experiencep backgroundp"
      "education educationp backgroundp"
      " client clientp .";
      
    h3 {
      padding-top: 60px;
      font-size: 35px;
    }

    p {
      font-size: 28px;
    }

    p i {
      font-size: 70px;
      padding-top: 10px;
    }

    .domainp{
      padding-top: 50px;    
    }

    .educationp{
      padding-top: 30px;    
    }

    .client{
      padding-top: 140px;    
    }
  }

  #bgc {
    width: $about-lapt-height;
    height: $about-lapt-width;
  }

  #pwc {
    height: $about-lapt-height;
    width: $about-lapt-width;
  }

  #fd {
    width: $about-lapt-height;
    height: $about-lapt-width;
  }
  
  #kip {
    height: $about-lapt-height;
    width: $about-lapt-width;
  }

  nav ul {
    font-size: 40px;
  }

  .social {
    font-size: 40px;
  }
  .client{
    padding-top: 150px;
  }
  .background{
    padding-top: 450px;
  }
  
  .backgroundp{
    padding-top: 250px;
  }
  

  .portfolio{
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 150px 150px 1fr 1fr;
      grid-template-areas: 
      "phil phil phil"
      "frontend frontend frontend"
      "project1 project2 ."
      "project3 project4 ."
      "project5 project6 .";

      article {
        height: 16em;
        width:16em;
      }

      article i {
        font-size: 50px;
      }

      article:hover .info {
        font-size: 25px;
        }
  }
}
@media only screen and (min-width: $breakpoint-l-laptop) {
  main section h1 {
    font-size: 95px;
  }
  
  main section h2 {
    font-size: 65px;
  }
  
  main section .btn-primary {
    font-size: 32px;
    padding: 10px;
    height: 60px;
  }

  main section .btn-outline {
    font-size: 32px;
    padding: 10px;
    height: 60px;
  }

  nav ul {
    font-size: 50px;
  }

  .social {
    font-size: 50px;
  }

  .portfolio {

    article {
      height: 20em;
      width: 20em;
    }

    article i {
      font-size: 55px;
    }

    article:hover .info {
      font-size: 30px;
      }
  }

  .about {
 
    h3 {
      padding-top: 60px;
      font-size: 40px;
    }

    p {
      font-size: 36px;
    }

    .skills {
      padding-top: 70px;
    }

    .domainp {
      padding-top: 40px;
    }

    .educationp {
      padding-top: 20px;
    }

    .client {
      padding-top: 200px;
    }
  }
}
