* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Fjalla One';
  color: whitesmoke;
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  background-color: #1d2227;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  height: 1100px;
  width: 70px;
}

nav #burger {
  display: inline-block;
  cursor: pointer;
  position: fixed;
}

nav .bar1,
nav .bar2,
nav .bar3 {
  width: 40px;
  height: 5px;
  background-color: whitesmoke;
  margin: 6px 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

nav .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

nav .change .bar2 {
  opacity: 0;
}

nav .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

nav .menu {
  display: none;
  text-align: center;
}

nav .social {
  display: none;
}

nav #logo {
  display: none;
}

.redline {
  min-width: 1vw;
  height: 1100px;
  background-color: red;
}

a:hover {
  color: red;
}

i:hover {
  color: red;
}

.open {
  background-color: #1d2227;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 5px;
  font-size: 25px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.open .burger {
  display: none;
}

.open li {
  list-style: none;
  margin: 10px;
}

.open i {
  margin: auto 15px;
}

.open #logo {
  width: 60px;
  height: 60px;
  background-color: transparent;
}

.open .redline {
  display: none;
}

.open .menu {
  display: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.open .social {
  display: unset;
}

.open #logo {
  display: unset;
}

.open article i {
  pointer-events: none;
}

.homepage {
  overflow: hidden;
}

main {
  background-image: url("./Images/web-build1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  background-color: #536a8e;
  height: 1100px;
  width: 100vw;
}

main section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px 150px;
      grid-template-rows: 150px 150px;
  gap: 20px;
  margin: 20px;
  margin-top: 50px;
  margin-left: 10px;
      grid-template-areas: "phil phil" "frontend frontend" "btn-outline btn-primary";
}

main section h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: phil;
  font-size: 60px;
}

main section h2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: frontend;
  font-size: 30px;
}

main section .btn-outline {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: btn-outline;
  border: 2px solid whitesmoke;
  padding: 10px;
  font-size: 14px;
  width: 27vw;
  height: 40px;
  text-align: center;
}

main section .btn-outline:hover {
  cursor: pointer;
}

main section .btn-primary {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: btn-primary;
  border: 2px solid whitesmoke;
  background-color: whitesmoke;
  color: #536a8e;
  padding: 10px;
  font-size: 14px;
  width: 27vw;
  height: 40px;
  text-align: center;
}

.portfoliomian {
  height: 800;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px 60px 170px 170px;
      grid-template-rows: 150px 60px 170px 170px;
  gap: 20px;
  margin: 20px;
  margin-top: 50px;
  margin-left: 10px;
      grid-template-areas: "phil phil " "frontend frontend " "project1 project2" "project3 project4" "project5 project6";
}

.portfolio article {
  border: 2px solid whitesmoke;
  height: 150px;
  padding: 5px;
  text-align: center;
}

.portfolio article .project1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: project1;
}

.portfolio article .project2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: project2;
}

.portfolio article .project3 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: project3;
}

.portfolio article .project4 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: project4;
}

.portfolio article .project5 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: project5;
}

.portfolio article .project6 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: project6;
}

.portfolio article i {
  opacity: 0;
  font-size: 25px;
  margin-top: 35px;
  padding: 10px;
}

article:hover i {
  opacity: 1;
}

article:hover {
  background-image: url("./Images/portfolio-black.png");
  background-size: cover;
  background-position: center;
}

.project1 {
  background-image: url("./Images/project1pic.png");
  background-size: cover;
  background-position: center;
}

.project2 {
  background-image: url("./Images/morse.png");
  background-size: cover;
  background-position: center;
}

.project3, .project4, .project5, .project6 {
  background-image: url("./Images/Coming-Soon.jpg");
  background-size: cover;
  background-position: center;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 150px 60px 60px 60px 60px 60px 250px;
      grid-template-rows: 150px 60px 60px 60px 60px 60px 250px;
  -ms-grid-columns: 100px 170px;
      grid-template-columns: 100px 170px;
  margin: 20px;
  margin-top: 50px;
  margin-left: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
      grid-template-areas: "phil phil" "frontend frontend" "skills skillsp" "domain domainp" "experience experiencep" "education educationp " "background background" "backgroundp backgroundp";
}

h3 {
  border: 2px solid whitesmoke;
  font-size: 17px;
  padding: 15px;
  text-align: center;
}

.skills {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: skills;
}

.domain {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: domain;
}

.experience {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: experience;
}

.education {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: education;
}

.background {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: background;
}

.skillsp {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: skillsp;
}

.domainp {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: domainp;
}

.experiencep {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: experiencep;
}

.educationp {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: educationp;
}

.backgroundp {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: backgroundp;
}

p i {
  font-size: 30px;
  pointer-events: none;
}

span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span img {
  margin: 1px;
}

#bgc {
  height: 30px;
  width: 30px;
  border-radius: 3px;
}

#fd {
  height: 30px;
  width: 30px;
  border-radius: 3px;
}

#pwc {
  height: 30px;
  width: 30px;
  border-radius: 3px;
}

#kip {
  height: 30px;
  width: 30px;
  border-radius: 3px;
}

#profile {
  width: 200px;
  height: 200px;
  border-radius: 3px;
}

@media only screen and (min-width: 425px) {
  main section .btn-primary {
    font-size: 17px;
    padding: 7px;
  }
  main section .btn-outline {
    font-size: 17px;
    padding: 7px;
  }
  .portfolio article {
    font-size: 35px;
  }
  .about {
    -ms-grid-columns: 110px 185px;
        grid-template-columns: 110px 185px;
  }
  .about h3 {
    font-size: 20px;
    padding: 10px;
  }
  span img {
    margin: 3px;
  }
}

@media only screen and (min-width: 550px) {
  main section .btn-primary {
    font-size: 20px;
    padding: 7px;
  }
  main section .btn-outline {
    font-size: 20px;
    padding: 7px;
  }
  .portfolio article {
    font-size: 23px;
  }
  .about {
    -ms-grid-columns: 130px 280px;
        grid-template-columns: 130px 280px;
  }
  .about h3 {
    font-size: 22px;
  }
  .about p {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
  main section h1 {
    font-size: 72px;
  }
  main section h2 {
    font-size: 65px;
    margin-bottom: 10px;
  }
  main section .btn-primary {
    font-size: 26px;
    padding: 3px;
  }
  main section .btn-outline {
    font-size: 26px;
    padding: 3px;
  }
  .portfolio article i {
    font-size: 38px;
  }
  .portfolio {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 100px 100px 100px;
        grid-template-rows: 100px 100px 100px;
    gap: 20px;
    margin: 20px;
    margin-top: 50px;
    margin-left: 10px;
        grid-template-areas: "phil phil phil" "frontend frontend frontend" "project1 project2 ." "project3 project4 ." "project5 project6 .";
  }
  .portfolio article {
    border: 2px solid whitesmoke;
    height: 15vh;
    padding: 5px;
    text-align: center;
  }
  .about {
    -ms-grid-rows: 150px 100px 60px 60px 60px 60px;
        grid-template-rows: 150px 100px 60px 60px 60px 60px;
  }
  .about h3 {
    font-size: 25px;
  }
  .about p {
    font-size: 20px;
  }
  .about p i {
    margin-top: 10px;
    font-size: 40px;
  }
  .about {
    display: -ms-grid;
    display: grid;
    margin: 20px;
    margin-top: 50px;
    margin-left: 10px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
    row-gap: 20px;
        grid-template-areas: "phil phil background" "frontend frontend background" "skills skillsp backgroundp " "domain domainp backgroundp" "experience experiencep backgroundp" "education educationp backgroundp";
  }
}

@media only screen and (min-width: 1024px) {
  main section h1 {
    font-size: 75px;
  }
  main section h2 {
    font-size: 45px;
  }
  main section .btn-primary {
    font-size: 29px;
    padding: 5px;
    height: 50px;
  }
  main section .btn-outline {
    font-size: 29px;
    padding: 5px;
    height: 50px;
  }
  .portfolio article i {
    font-size: 45px;
  }
  .about {
    -ms-grid-columns: 220px 500px;
        grid-template-columns: 220px 500px;
    -ms-grid-rows: 150px 100px 60px 60px 60px 60px;
        grid-template-rows: 150px 100px 60px 60px 60px 60px;
  }
  .about h3 {
    font-size: 27px;
  }
  .about p {
    font-size: 22px;
  }
  .about p i {
    margin-top: 4px;
    font-size: 50px;
  }
  nav ul {
    font-size: 40px;
  }
  .social {
    font-size: 40px;
  }
  #bgc {
    height: 50px;
    width: 50px;
  }
  #pwc {
    height: 50px;
    width: 50px;
  }
  #fd {
    height: 50px;
    width: 50px;
  }
  #kip {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  main section h1 {
    font-size: 95px;
  }
  main section h2 {
    font-size: 65px;
  }
  .portfolio {
    -ms-grid-rows: 150px 100px 180px;
        grid-template-rows: 150px 100px 180px;
  }
  .about {
    -ms-grid-rows: 150px 100px 60px 60px 60px 60px;
        grid-template-rows: 150px 100px 60px 60px 60px 60px;
  }
  main section .btn-primary {
    font-size: 32px;
    padding: 10px;
    height: 60px;
  }
  main section .btn-outline {
    font-size: 32px;
    padding: 10px;
    height: 60px;
  }
  nav ul {
    font-size: 50px;
  }
  .social {
    font-size: 50px;
  }
  .portfolio article i {
    font-size: 50px;
  }
  .about {
    -ms-grid-columns: 220px 600px;
        grid-template-columns: 220px 600px;
    -ms-grid-rows: 150px 120px 70px 70px 70px 70px;
        grid-template-rows: 150px 120px 70px 70px 70px 70px;
  }
  .about h3 {
    font-size: 40px;
  }
  .about p {
    font-size: 30px;
  }
  .about p i {
    margin-top: 5px;
    font-size: 60px;
  }
  #bgc {
    height: 55px;
    width: 55px;
  }
  #pwc {
    height: 55px;
    width: 55px;
  }
  #fd {
    height: 55px;
    width: 55px;
  }
  #kip {
    height: 55px;
    width: 55px;
  }
}
/*# sourceMappingURL=main.css.map */